# Imports

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from datetime import datetime
import numpy as np
import math
import re
from word2number import w2n

# Vitrine

In [99]:
#--------------------------------Clasics----------------------------------------
# Parameters
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36' }

#url
url = 'http://books.toscrape.com/catalogue/category/books/classics_6'

# Request url
page = requests.get( url, headers=headers)

#Beautiful soup object
soup = BeautifulSoup( page.text, 'html.parser' )

#================= Product Data =================
products = soup.find( 'ol', class_= 'row')

#-----------price------------
product_list = products.find_all( 'p', class_='price_color')
product_price = [p.get_text() for p in product_list]

#-----------availability----------
product_list = products.find_all( 'p', class_='instock availability')
product_availability = [list(filter(None, p.get_text().split('\n'))) for p in product_list]
for j in range(len(product_availability)):
    product_availability[j]  = product_availability[j][1]
    product_availability[j]  = product_availability[j].split('  ')
    product_availability[j]  = product_availability[j].pop()
    
#-----------name-----------------
product_name = []
for a in products.find_all('a', title=True):
    product_name.append( a['title'] )
    
#-----------Stars-----------------

#product_list = products.find_all( 'article', class_='product_pod')
product_stars = []
for a in products.find_all('p', class_=True):
    product_stars.append( a['class'] )
product_stars = product_stars[::3]
for j in range(len(product_stars)):
    product_stars[j]  = product_stars[j][1]

#-----------Category------------------
product_category=[]
for j in range(len(product_stars)):
    product_category.append('Classics')

# product_category = []
# product_list = soup.find( 'div', class_='page-header action')
# product_category_1 = [p.get_text() for p in product_list][1]
# for j in range(len(product_stars)):
#     product_category.append(product_category_1)

#Creating the dataframe for the classics books
df_classic = pd.DataFrame([product_name, product_category, product_price, product_availability, product_stars]).T
df_classic.columns = ['product_name', 'product_category', 'product_price', 'product_availability', 'product_stars']

In [100]:
product_category

['Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics',
 'Classics']

In [40]:
#--------------------------------Scifi----------------------------------------

# Parameters
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36' }

#url
url = 'http://books.toscrape.com/catalogue/category/books/science-fiction_16'

# Request url
page = requests.get( url, headers=headers)

#Beautiful soup object
soup = BeautifulSoup( page.text, 'html.parser' )

#================= Product Data =================
products = soup.find( 'ol', class_= 'row')

#-----------price------------
product_list = products.find_all( 'p', class_='price_color')
product_price = [p.get_text() for p in product_list]

#-----------availability----------
product_list = products.find_all( 'p', class_='instock availability')
product_availability = [list(filter(None, p.get_text().split('\n'))) for p in product_list]
for j in range(len(product_availability)):
    product_availability[j]  = product_availability[j][1]
    product_availability[j]  = product_availability[j].split('  ')
    product_availability[j]  = product_availability[j].pop()
    
#-----------name-----------------
product_name = []
for a in products.find_all('a', title=True):
    product_name.append( a['title'] )
    
#-----------Stars-----------------

#product_list = products.find_all( 'article', class_='product_pod')
product_stars = []
for a in products.find_all('p', class_=True):
    product_stars.append( a['class'] )
product_stars = product_stars[::3]
for j in range(len(product_stars)):
    product_stars[j]  = product_stars[j][1]

#-----------Category------------------
product_category=[]
for j in range(len(product_stars)):
    product_category.append('Science Fiction')
    
# Creating the dataframe for the scifi books
df_scifi = pd.DataFrame([product_name, product_category, product_price, product_availability, product_stars]).T
df_scifi.columns = ['product_name', 'product_category', 'product_price', 'product_availability', 'product_stars']

df_scifi.head()

,product_name,product_category,product_price,product_availability,product_stars
0,Mesaerion: The Best Science Fiction Stories 18...,Science Fiction,Â£37.59,In stock,One
1,Join,Science Fiction,Â£35.67,In stock,Five
2,"William Shakespeare's Star Wars: Verily, A New...",Science Fiction,Â£43.30,In stock,Four
3,The Project,Science Fiction,Â£10.65,In stock,One
4,Soft Apocalypse,Science Fiction,Â£26.12,In stock,Two

In [41]:
#--------------------------------Humor----------------------------------------

# Parameters
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36' }

#url
url = 'http://books.toscrape.com/catalogue/category/books/humor_30'

# Request url
page = requests.get( url, headers=headers)

#Beautiful soup object
soup = BeautifulSoup( page.text, 'html.parser' )

#================= Product Data =================
products = soup.find( 'ol', class_= 'row')

#-----------price------------
product_list = products.find_all( 'p', class_='price_color')
product_price = [p.get_text() for p in product_list]

#-----------availability----------
product_list = products.find_all( 'p', class_='instock availability')
product_availability = [list(filter(None, p.get_text().split('\n'))) for p in product_list]
for j in range(len(product_availability)):
    product_availability[j]  = product_availability[j][1]
    product_availability[j]  = product_availability[j].split('  ')
    product_availability[j]  = product_availability[j].pop()
    
#-----------name-----------------
product_name = []
for a in products.find_all('a', title=True):
    product_name.append( a['title'] )
    
#-----------Stars-----------------

#product_list = products.find_all( 'article', class_='product_pod')
product_stars = []
for a in products.find_all('p', class_=True):
    product_stars.append( a['class'] )
product_stars = product_stars[::3]
for j in range(len(product_stars)):
    product_stars[j]  = product_stars[j][1]

#-----------Category------------------
product_category=[]
for j in range(len(product_stars)):
    product_category.append('Humor')
    
# Creating the dataframe for the scifi books
df_humor = pd.DataFrame([product_name, product_category, product_price, product_availability, product_stars]).T
df_humor.columns = ['product_name', 'product_category', 'product_price', 'product_availability', 'product_stars']

df_humor.head()

,product_name,product_category,product_price,product_availability,product_stars
0,The Long Haul (Diary of a Wimpy Kid #9),Humor,Â£44.07,In stock,One
1,Old School (Diary of a Wimpy Kid #10),Humor,Â£11.83,In stock,Five
2,I Know What I'm Doing -- and Other Lies I Tell...,Humor,Â£25.98,In stock,Four
3,"Hyperbole and a Half: Unfortunate Situations, ...",Humor,Â£14.75,In stock,Five
4,Dress Your Family in Corduroy and Denim,Humor,Â£43.68,In stock,Three

In [42]:
#--------------------------------Business----------------------------------------

# Parameters
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36' }

#url
url = 'http://books.toscrape.com/catalogue/category/books/business_35'

# Request url
page = requests.get( url, headers=headers)

#Beautiful soup object
soup = BeautifulSoup( page.text, 'html.parser' )

#================= Product Data =================
products = soup.find( 'ol', class_= 'row')

#-----------price------------
product_list = products.find_all( 'p', class_='price_color')
product_price = [p.get_text() for p in product_list]

#-----------availability----------
product_list = products.find_all( 'p', class_='instock availability')
product_availability = [list(filter(None, p.get_text().split('\n'))) for p in product_list]
for j in range(len(product_availability)):
    product_availability[j]  = product_availability[j][1]
    product_availability[j]  = product_availability[j].split('  ')
    product_availability[j]  = product_availability[j].pop()
    
#-----------name-----------------
product_name = []
for a in products.find_all('a', title=True):
    product_name.append( a['title'] )
    
#-----------Stars-----------------

#product_list = products.find_all( 'article', class_='product_pod')
product_stars = []
for a in products.find_all('p', class_=True):
    product_stars.append( a['class'] )
product_stars = product_stars[::3]
for j in range(len(product_stars)):
    product_stars[j]  = product_stars[j][1]

#-----------Category------------------
product_category=[]
for j in range(len(product_stars)):
    product_category.append('Business')
    
# Creating the dataframe for the scifi books
df_business = pd.DataFrame([product_name, product_category, product_price, product_availability, product_stars]).T
df_business.columns = ['product_name', 'product_category', 'product_price', 'product_availability', 'product_stars']

df_business.head()

,product_name,product_category,product_price,product_availability,product_stars
0,The Dirty Little Secrets of Getting Your Dream...,Business,Â£33.34,In stock,Four
1,The Third Wave: An Entrepreneurâs Vision of ...,Business,Â£12.61,In stock,Five
2,The 10% Entrepreneur: Live Your Startup Dream ...,Business,Â£27.55,In stock,Three
3,Shoe Dog: A Memoir by the Creator of NIKE,Business,Â£23.99,In stock,Two
4,Made to Stick: Why Some Ideas Survive and Othe...,Business,Â£38.85,In stock,Five

In [87]:
df_raw = pd.concat([df_classic, df_scifi, df_humor, df_business]).reset_index(drop=True)
df_raw['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
df_raw.head()

,product_name,product_category,product_price,product_availability,product_stars,scrapy_datetime
0,The Secret Garden,Classics,Â£15.08,In stock,Four,2022-09-01 17:25:36
1,The Metamorphosis,Classics,Â£28.58,In stock,One,2022-09-01 17:25:36
2,The Pilgrim's Progress,Classics,Â£50.26,In stock,Two,2022-09-01 17:25:36
3,The Hound of the Baskervilles (Sherlock Holmes...,Classics,Â£14.82,In stock,Two,2022-09-01 17:25:36
4,Little Women (Little Women #1),Classics,Â£28.07,In stock,Four,2022-09-01 17:25:36

# Criando df_raw em uma celula so

Nessa parte vamos juntar todos os passos acima em um único Data Frame

In [15]:
#list of url's
list1 = ['classics_6', 'science-fiction_16', 'humor_30', 'business_35']

#empty dataframe
df_raw = pd.DataFrame()

# Parameters
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36' }

for i in range(len(list1)):
    
    #url
    url = 'http://books.toscrape.com/catalogue/category/books/' + list1[i]
    #print(url)
    
    # Request url
    page = requests.get( url, headers=headers)

    #Beautiful soup object
    soup = BeautifulSoup( page.text, 'html.parser' )

    #================= Product Data =================
    products = soup.find( 'ol', class_= 'row')

    #-----------price------------
    product_list = products.find_all( 'p', class_='price_color')
    product_price = [p.get_text() for p in product_list]

    #-----------availability----------
    product_list = products.find_all( 'p', class_='instock availability')
    product_availability = [list(filter(None, p.get_text().split('\n'))) for p in product_list]
    for j in range(len(product_availability)):
        product_availability[j]  = product_availability[j][1]
        product_availability[j]  = product_availability[j].split('  ')
        product_availability[j]  = product_availability[j].pop()

    #-----------name-----------------
    product_name = []
    for a in products.find_all('a', title=True):
        product_name.append( a['title'] )

    #-----------Stars-----------------

    #product_list = products.find_all( 'article', class_='product_pod')
    product_stars = []
    for a in products.find_all('p', class_=True):
        product_stars.append( a['class'] )
    product_stars = product_stars[::3]
    for j in range(len(product_stars)):
        product_stars[j]  = product_stars[j][1]

    #-----------Category------------------
    product_category = []
    product_list = soup.find( 'div', class_='page-header action')
    product_category_1 = [p.get_text() for p in product_list][1]
    for j in range(len(product_stars)):
        product_category.append(product_category_1)


    # creating the dataframes
    df1 = pd.DataFrame([product_name, product_category, product_price, product_availability, product_stars]).T
    df1.columns = ['product_name', 'product_category', 'product_price', 'product_availability', 'product_stars']
    
    #joining the dataframe in the final df
    df_raw = pd.concat([df_raw, df1]).reset_index(drop=True)

#-------Creating the scrapy time column
df_raw['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

df_raw.head()

,product_name,product_category,product_price,product_availability,product_stars,scrapy_datetime
0,The Secret Garden,Classics,Â£15.08,In stock,Four,2022-09-01 17:54:37
1,The Metamorphosis,Classics,Â£28.58,In stock,One,2022-09-01 17:54:37
2,The Pilgrim's Progress,Classics,Â£50.26,In stock,Two,2022-09-01 17:54:37
3,The Hound of the Baskervilles (Sherlock Holmes...,Classics,Â£14.82,In stock,Two,2022-09-01 17:54:37
4,Little Women (Little Women #1),Classics,Â£28.07,In stock,Four,2022-09-01 17:54:37

# Limpeza de dados e Resultado Final

In [16]:
df_data = df_raw.copy()

#product name
df_data['product_name'] = df_data['product_name'].str.replace( ' ', '_' ).str.lower()

#product category
df_data['product_category'] = df_data['product_category'].str.replace( ' ', '_' ).str.lower() 

#product availability
df_data['product_availability'] = df_data['product_availability'].str.replace( ' ', '_' ).str.lower() 

# product price
for x in range(len(df_data)):
    df_data['product_price'][x] = re.findall( r'\d+\.?\d+', df_data['product_price'][x])[0]
df_data['product_price'] = df_data['product_price'].astype( float )

#scrapy datetime
df_data['scrapy_datetime'] = pd.to_datetime(df_data['scrapy_datetime'], format='%Y-%m-%d %H:%M:%S')

#product star
df_data['product_stars'] = df_data['product_stars'].apply(w2n.word_to_num)

df_data.head(20)

,product_name,product_category,product_price,product_availability,product_stars,scrapy_datetime
0,the_secret_garden,classics,15.08,in_stock,4,2022-09-01 17:54:37
1,the_metamorphosis,classics,28.58,in_stock,1,2022-09-01 17:54:37
2,the_pilgrim's_progress,classics,50.26,in_stock,2,2022-09-01 17:54:37
3,the_hound_of_the_baskervilles_(sherlock_holmes...,classics,14.82,in_stock,2,2022-09-01 17:54:37
4,little_women_(little_women_#1),classics,28.07,in_stock,4,2022-09-01 17:54:37
5,gone_with_the_wind,classics,32.49,in_stock,3,2022-09-01 17:54:37
6,candide,classics,58.63,in_stock,3,2022-09-01 17:54:37
7,animal_farm,classics,57.22,in_stock,3,2022-09-01 17:54:37
8,wuthering_heights,classics,17.73,in_stock,3,2022-09-01 17:54:37
9,the_picture_of_dorian_gray,classics,29.70,in_stock,2,2022-09-01 17:54:37
10,the_complete_stories_and_poems_(the_works_of_e...,classics,26.78,in_stock,4,2022-09-01 17:54:37
11,beowulf,classics,38.35,in_stock,2,2022-09-01 17:54:37
12,and_then_there_were_none,classics,35.01,in_stock,2,2022-09-01 17:54:37
13,the_story_of_hong_gildong,classics,43.19,in_stock,4,2022-09-01 17:54:37
14,the_little_prince,classics,45.42,in_stock,2,2022-09-01 17:54:37
15,sense_and_sensibility,classics,37.46,in_stock,1,2022-09-01 17:54:37
16,of_mice_and_men,classics,47.11,in_stock,2,2022-09-01 17:54:37
17,emma,classics,32.93,in_stock,2,2022-09-01 17:54:37
18,alice_in_wonderland_(alice's_adventures_in_won...,classics,55.53,in_stock,1,2022-09-01 17:54:37
19,mesaerion:_the_best_science_fiction_stories_18...,science_fiction,37.59,in_stock,1,2022-09-01 17:54:37